html {

    height: 100% ;
  }
  
  body{
    height: 100% ;
    border-color: red ;
    border-style: solid ;
   
  }
  
  nav {
    display : flex ;
    flex-direction: row;
    gap: 25px ;
    
  
  }
  
   .header-space {
    justify-self: flex-end;
     margin-left: auto;
    
  }
  
  #footer-contents {
    
    justify-content: flex-end;
     
  }
  #footer{
    margin-top: auto ;
    border-color: red ;
    border-style: solid ;
  }
  .carbon {
    justify-self: center;
    margin-left: auto ;
    margin-right: auto ;
   
  }
  #searchSearch {
    border-radius: 50%;
  }
  